<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h4>MAINES FISCAL</h4>
    </div>

    <ul class="list-unstyled components" style="text-decoration: none;">
        <li>
            <a href="#1" data-toggle="collapse" aria-expanded="false" style="font-size: 14px;">MAINES FISCAL SAT</a>
            <ul class="collapse list-unstyled" id="1">
                <li>
                    <a href="#">Consultar RFCs Ingresos/Egresos</a>
                </li>
                <li>
                    <a [routerLink]="['/consultar-rfc']" >Consultar por RFC</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#2" data-toggle="collapse" aria-expanded="false" style="font-size: 14px;">XML EMITIDOS/RECIBIDOS</a>
            <ul class="collapse list-unstyled" id="2">
                <li>
                    <a [routerLink]="['/descargar-xml']">Descargar XML - CFDIs desde el SAT</a>
                </li>
                <li>
                    <a href="#">Análisis Fiscal/Impuestos de XMLs descargados</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#3" data-toggle="collapse" aria-expanded="false" style="font-size: 14px;">VALIDAR CFDIS</a>
            <ul class="collapse list-unstyled" id="3">
                <li>
                    <a href="#">Empresas</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#4" data-toggle="collapse" aria-expanded="false" style="font-size: 14px;">CONFIGURACION</a>
            <ul class="collapse list-unstyled" id="4">
                <li>
                    <a [routerLink]="['/config']">Alta RFC emisor y Credenciales</a>
                </li>
            </ul>
        </li>

    </ul>
</nav>