<div class="login-clean" style="background-color: #fff;padding-top: 40px;padding-bottom: 40px;">
    <form [formGroup]="nuevoRFCForm"  style="width: 1000px;max-width: 1000px;padding: 20px;height: none;font-family: Antic, sans-serif;">
        <div class="form-group">
            <div class="container"><label class="text-center d-block" style="padding: 10px;background-color: #C3E5E7;"><strong class="text-dark" style="font-family: Montserrat, sans-serif;font-size: 16px;">ALTA DE RFC EMISOR Y CREDENCIALES&nbsp;</strong></label>
                <div class="table-responsive border-white"
                    style="font-size: 14px;">
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr class="border-white">
                                <td class="text-center border-white"><label class="d-inline-block">Clave Cliente</label>
                                    <input class="border rounded form-control d-inline-block" type="text" style="width: 300px;margin-right: 10px;margin-left: 10px;font-size: 14px;" name="clave_clientes"
                                        placeholder="Clave Cliente"></td>
                                <td class="text-right border-white">
                                <button (click)="agregarNuevoRFC()" class="btn btn-info" type="button" style="margin-right: 40px;width: 130px;">Guardar</button></td>
                            </tr>
                            <tr class="border-white">
                                <td class="text-center border-white"><label class="d-inline-block">RFC&nbsp;</label>
                                    <input formControlName="rfc" class="border rounded form-control d-inline-block" type="text" style="width: 300px;margin-right: 10px;margin-left: 60px;font-size: 14px;" name="rfc" placeholder="RFC"></td>
                                <td
                                    class="text-center border-white"><label class="d-inline-block">Archivo fiel .cer</label>
                                    <input 
                                        (change)="getFiles($event)" 
                                        class="border rounded" 
                                        type="file" 
                                        style="margin-right: 10px;margin-left: 10px;" 
                                        name="archivo_cer">
                                </td>
                            </tr>
                            <tr class="border-white">
                                <td class="text-center border-white"><label class="d-inline-block">Razón Social</label>
                                    <input formControlName="razon" class="border rounded form-control d-inline-block" type="text" style="width: 300px;margin-right: 10px;margin-left: 10px;font-size: 14px;" name="razon_social"
                                        placeholder="Razón Social"></td>
                                <td class="text-center border-white"><label class="d-inline-block">Archivo fiel .key</label>
                                    
                                    
                                    
                                    <input 
                                        (change)="getFiles2($event)" 
                                        class="border rounded" 
                                        type="file" 
                                        style="margin-right: 10px;margin-left: 10px;" 
                                        name="archivo_key"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container"><label class="text-left d-block" style="padding: 10px;background-color: #FFDA45;"><strong class="text-dark" style="font-family: Montserrat, sans-serif;font-size: 14px;">Datos de la Empresa&nbsp;</strong></label>
                <div class="table-responsive"
                    style="font-size: 15px;">
                    <table class="table">
                        <thead>
                            <tr class="border-white" style="background-color: #DFF4F0;">
                                <th class="border-white">RFC</th>
                                <th class="border-white">Razón Social</th>
                                <th class="border-white">Archivo fiel .cer</th>
                                <th class="border-white">Archivo fiel .key</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>KSY010331243<br></td>
                                <td>Kingo Systems S.A. de C.V.</td>
                                <td>ASDFGGHHKLLA</td>
                                <td>ASDFGHJKLLFA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>    
</div>