<nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: #e3f2fd;padding: 30px;">
  <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1"><img src="../../../assets/imagenes/Kingo_Systems.png" style="width: 60px;margin-right: 10px;"><img src="../../../assets/imagenes/Maines_ERP_Logotipo.png" style="width: 250px;">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">ACTUALIZACIÓN</a>
                  <div class="dropdown-menu" role="menu" style="font-size: 14px;padding-top: 4px;padding-bottom: 4px;"><a class="dropdown-item" role="presentation" href="#">Actualizar Maines ERP Método 1</a><a class="dropdown-item" role="presentation" href="#">Actualizar Maines ERP Método 2</a></div>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">SISTEMA</a>
                  <div class="dropdown-menu" role="menu" style="font-size: 14px;padding-top: 4px;padding-bottom: 4px;"><a class="dropdown-item" role="presentation" href="#">Log - Error Acceso</a>
                      <div class="dropdown-divider" role="presentation" style="margin-top: 3px;margin-bottom: 3px;"></div><a class="dropdown-item" role="presentation" href="#">Nueva BD</a><a class="dropdown-item" role="presentation" href="#">Configuración Cliente</a>
                      <div class="dropdown-divider" role="presentation" style="margin-top: 3px;margin-bottom: 3px;"></div><a class="dropdown-item" role="presentation" href="#">Rest</a>
                      <div class="dropdown-divider" role="presentation" style="margin-top: 3px;margin-bottom: 3px;"></div><a class="dropdown-item" role="presentation" href="#">URL Empresas</a></div>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">AYUDA</a>
                  <div class="dropdown-menu" role="menu" style="font-size: 14px;padding-top: 4px;padding-bottom: 4px;"><a class="dropdown-item" role="presentation" href="#">Acerca de Maines ERP</a><a class="dropdown-item" role="presentation" href="#">Ayuda Online</a><a class="dropdown-item" role="presentation" href="#">Canal YouTube</a><a class="dropdown-item"
                          role="presentation" href="#">Maines ERP en FB</a>
                      <div class="dropdown-divider" role="presentation" style="margin-top: 3px;margin-bottom: 3px;"></div><a class="dropdown-item" role="presentation" href="#">Salir</a></div>
              </li>
          </ul>
      </div>
  </div>
</nav>