<div class="login-clean" style="background-color: #fff;padding-top: 40px;padding-bottom: 40px;">
    <form style="width: 980px;max-width: 1000px;padding: 20px;height: none;font-family: Antic, sans-serif;" [formGroup]="form" (ngSubmit)="solicitarDescarga()">
        <div class="form-group text-center">
            <div class="container text-center" style="padding-left: 11px;width: 920px;margin: 0px;color: rgb(0,0,0);">
                <p class="text-dark d-lg-flex justify-content-lg-center align-items-lg-center" style="background-color: #C3E5E7;height: 50px;font-family: Bahnschrift;font-size: 18px;"><br>Descarga XML desde el SAT -&nbsp; Método Web Service<br><br>
                </p>
                <h6 class="text-danger" *ngIf="fechasNoValidas">Fecha No Valida</h6>
                <h6 class="text-danger" *ngIf="!archivosIncompletos">Falta un archivo</h6>
                <div class="alert alert-danger" role="alert" *ngIf="!respuestaSolicitus">
                    {{mensaje}}
                </div>
                <div class="table-responsive" style="font-size: 14px;">
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr class="border-white">
                                <!-- <td class="border-white">
                                    <label class="d-inline-block">RFC  &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                    <input class="border rounded form-control d-inline-block is-invalid" 
                                            type="text" style="width: 320px;font-size: 14px;margin-left: 40px;" 
                                            formControlName="RFC" 
                                            placeholder="RFC">
                                    <div class="invalid-feedback" *ngIf="rfcNoValido">
                                        Ingrese RFC
                                    </div>
                                </td>-->
                                <td class="border-white">
                                    <label class="d-inline-block">Lista de RFCs &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                    <select class="border rounded form-control d-inline-block" style="width: 285px;margin-left: 10px;font-size: 14px;"formControlName="rfc">
                                        <optgroup label="Selecciona un RFC">
                                            <option *ngFor="let rfc of listaRFCs" [value]="rfc.rfc">{{rfc.rfc}}</option>
                                        </optgroup>
                                    </select>
                                </td> 
                            </tr>
                            <tr class="border-white">
                                <td class="border-white">
                                    <label class="d-inline-block">
                                    Fecha Inicial
                                    </label>
                                    <input class="border rounded form-control d-inline-block " 
                                            type="date" 
                                            style="width: 190px;margin-left: 10px;" 
                                            formControlName="fecha_ini">
                                    <input class="border rounded form-control d-inline-block"
                                            type="time" 
                                            style="width: 140px;margin-left: 5px;" 
                                            formControlName="hora_ini"
                                            step="1">
                                </td>
                                <td class="border-white">
                                    <label class="d-inline-block">
                                        Fecha Final
                                    </label>
                                    <input class="border rounded form-control d-inline-block" 
                                            type="date" 
                                            style="width: 190px;margin-left: 10px;" 
                                            formControlName="fecha_fin">
                                    <input class="border rounded form-control d-inline-block"
                                            type="time" 
                                            style="width: 140px;margin-left: 5px;" 
                                            formControlName="hora_fin"
                                            step="1">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-white">
                                    <label class="d-inline-block">Emitidos / Recibidos</label>
                                    <select class="border rounded form-control d-inline-block" style="width: 285px;margin-left: 10px;font-size: 14px;"formControlName="origen">
                                        <optgroup label="Selecciona una opción">
                                            <option value="emisor" selected="">Emitidos</option>
                                            <option value="recibidos">Recibidos</option>
                                        </optgroup>
                                    </select>
                                </td>
                                <td class="border-white">
                                    <label class="d-inline-block">Tipo Descarga</label>
                                    <select class="border rounded form-control d-inline-block" style="width: 320px;margin-left: 10px;font-size: 14px;" formControlName="tipo">
                                        <optgroup label="Seleccione una opción">
                                            <option value="XML" selected="">XML</option>
                                            <option value="OTRO">Otro</option></optgroup>
                                        </select>
                                    </td>
                            </tr>
                            <tr>
                                <td class="border-white">
                                    <label class="d-inline-block">Archivo .cer</label>
                                    <input class="border rounded d-inline-block" 
                                            type="file" 
                                            style="margin-left: 10px;width: 340px;" 
                                            name="archivo_cer" 
                                            (change)="asignar_cer($event)"
                                            accept=".cer"
                                            required>
                                </td>
                                <td class="border-white">
                                    <label class="d-inline-block">Password</label>
                                    <input class="border rounded form-control d-inline-block is-invalid" 
                                            type="password" style="width: 320px;font-size: 14px;margin-left: 40px;" 
                                            formControlName="password" 
                                            placeholder="Password">
                                    <div class="invalid-feedback" *ngIf="passwordNoValida">
                                        Ingrese la contraseña
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-white">
                                    <label class="d-inline-block">Archivo .key</label>
                                    <input class="border rounded d-inline-block" 
                                           type="file" 
                                           style="margin-left: 8px;width: 335px;" 
                                           name="archivo_key" 
                                           (change)="asignar_key($event)"
                                           accept=".key"
                                           required>
                                </td>
                                <td class="text-right border-white">
                                    <button class="btn btn-info" type="submit" style="width: 320px;margin: 0px;margin-right: px;">
                                        Enviar solicitud de descarga
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="text-dark d-lg-flex justify-content-lg-center align-items-lg-center" style="background-color: #FFDA45;height: 50px;font-family: Bahnschrift;font-size: 18px;">Solicitudes de Descarga</p>
                <div class="table-responsive">
                    <table class="table">
                        <thead style="background-color: #e3f2fd;font-size: 14px;">
                            <tr>
                                <th>Id</th>
                                <th>RFC Solcitante</th>
                                <th>Tipo Descarga</th>
                                <th>Fecha Solicitud</th>
                                <th>Folio Solicitud</th>
                                <th>Estatus Solicitud</th>
                                <th>Descargar CFIDs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-size: 14px;">
                                <td>1</td>
                                <td>KSY</td>
                                <td>Emitidos</td>
                                <td>12/03/2020</td>
                                <td style="font-size: 14Ppx;">ASDGJFKGLHOR</td>
                                <td>Espera</td>
                                <td>
                                    <button class="btn btn-info" type="button" style="font-size: 14px;">Descargar CFDIs</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>