<nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: #e3f2fd;padding: 30px;">
    <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1"><img src="../../../assets/imagenes/Kingo_Systems.png" style="width: 60px;margin-right: 10px;"><img src="../../../assets/imagenes/Maines_ERP_Logotipo.png" style="width: 250px;">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">ACTUALIZACIÓN</a>
                    <div class="dropdown-menu" role="menu" style="font-size: 14px;padding-top: 4px;padding-bottom: 4px;"><a class="dropdown-item" role="presentation" href="#">Actualizar Maines ERP Método 1</a><a class="dropdown-item" role="presentation" href="#">Actualizar Maines ERP Método 2</a></div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">SISTEMA</a>
                    <div class="dropdown-menu" role="menu" style="font-size: 14px;padding-top: 4px;padding-bottom: 4px;"><a class="dropdown-item" role="presentation" href="#">Log - Error Acceso</a>
                        <div class="dropdown-divider" role="presentation" style="margin-top: 3px;margin-bottom: 3px;"></div><a class="dropdown-item" role="presentation" href="#">Nueva BD</a><a class="dropdown-item" role="presentation" href="#">Configuración Cliente</a>
                        <div class="dropdown-divider" role="presentation" style="margin-top: 3px;margin-bottom: 3px;"></div><a class="dropdown-item" role="presentation" href="#">Rest</a>
                        <div class="dropdown-divider" role="presentation" style="margin-top: 3px;margin-bottom: 3px;"></div><a class="dropdown-item" role="presentation" href="#">URL Empresas</a></div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">AYUDA</a>
                    <div class="dropdown-menu" role="menu" style="font-size: 14px;padding-top: 4px;padding-bottom: 4px;"><a class="dropdown-item" role="presentation" href="#">Acerca de Maines ERP</a><a class="dropdown-item" role="presentation" href="#">Ayuda Online</a><a class="dropdown-item" role="presentation" href="#">Canal YouTube</a><a class="dropdown-item"
                            role="presentation" href="#">Maines ERP en FB</a>
                        <div class="dropdown-divider" role="presentation" style="margin-top: 3px;margin-bottom: 3px;"></div><a class="dropdown-item" role="presentation" href="#">Salir</a></div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--CONTENIDO-->
  <div class="login-clean" style="background-color: #fff;font-size: 18px;padding-top: 15px;padding-bottom: 15px;">
    <form method="post" style="max-width: 650px;width: 600px;" (ngSubmit)="mostrar()" #f="ngForm">
        <h2 class="sr-only">Login Form</h2>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1" style="font-size: 17px;">Entrar</a></li>
                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2" style="font-size: 17px;">URL Empresas</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="tab-1">
                    <p class="text-center text-dark d-lg-flex justify-content-lg-center align-items-lg-center" style="height: 50px;background-color: #C3E5E7;font-family: Bahnschrift;">
                      <br>Maines ERP + Business Intelligence + eCommerce<br><br>
                    </p>
                    <input class="bg-light border rounded form-control" type="text" name="usuario" placeholder="Usuario" style="margin-bottom: 15px;" autocomplete="off" [(ngModel)]="usuario.usuario" required>
                    <input class="bg-light border rounded form-control" type="password" name="password" placeholder="Password" style="margin-bottom: 15px;" autocomplete="off" [(ngModel)]="usuario.password" required>
                    <input class="bg-light border rounded form-control" type="password" name="cloud" placeholder="Cliente Cloud" autocomplete="off" [(ngModel)]="usuario.clienteCloud" required>
                    <label class="text-center" style="width: 470px;margin-top: 15px;font-size: 15px;">Sociedad / Empresa</label>
                    <button class="btn btn-primary btn-block bg-info" type="submit" style="margin-top: 15px;">ENTRAR</button>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-2">
                    <p class="text-dark d-lg-flex justify-content-lg-center align-items-lg-center" style="background-color: #C3E5E7;height: 50px;font-family: Bahnschrift;font-size: 18px;"><br>Maines ERP + Business Intelligence + eCommerce<br><br></p>
                    <div class="table-responsive" style="font-size: 15px;">
                        <table class="table">
                            <thead class="bg-light border rounded">
                                <tr>
                                    <th>EMPRESA</th>
                                    <th>URL</th>
                                    <th>PUERTO</th>
                                    <th>INDEX</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Kingo Systems</td>
                                    <td>www.kingo.com.mx</td>
                                    <td>8080</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-group border rounded border-white d-lg-flex justify-content-lg-center align-items-lg-center" role="group" style="height: 40px;">
                      <button class="btn btn-info border rounded" type="button" style="margin-right: 20px;margin-top: 0px;">ENTRAR</button>
                      <button class="btn btn-info border rounded" type="button" style="margin-right: 20px;margin-top: 0px;">REFRESH</button>
                      <button class="btn btn-light border rounded" type="button" style="margin-top: 0px;">A - Z</button>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-3">
                    <p>Content for tab 3.</p>
                </div>
            </div>
        </div>
    </form>
</div>