  
<article id="containerNotFoundPage" class="container animated fadeIn">
    <div class="notFoundPage pl-1 pr-1 pb-1 pt-5">
      <div><h1 class="c-white">ERROR!</h1></div>
      <div class="bg-white"><h1 class="c-ink">404</h1></div>
      <div class="pt-2"><h5 class="c-white">PÁGINA NO ENCONTRADA</h5></div>
      <br /><br />
      <div>
        <a [routerLink]="['/home']" class="btn btn-outline-success btn-block"
          >Regresar a la página de inicio</a
        >
      </div>
    </div>
  </article>
