        <!--Formulario-->
        <div class="login-clean" style="background-color: #fff;padding-top: 40px;padding-bottom: 40px;">
            <form style="width: 1000px;max-width: 1000px;padding: 20px;height: none;font-family: Antic, sans-serif;">
                
                <div class="form-group">
                    <input class="border rounded form-control d-inline-block" type="text" style="width: 600px;font-family: Antic, sans-serif;font-size: 14px;" name="rfc" placeholder="RFC  a Consultar">
                    <button class="btn btn-primary btn-block bg-info d-inline-block" type="submit" style="font-family: Montserrat;font-size: 14px;width: 150px;margin: 0px;margin-left: 150px;">Consultar</button>
                    
                    <div class="illustration"></div>
                    
                    <div class="table-responsive" style="font-family: Montserrat;color: 13px;">
                        <table class="table">
                            <thead class="bg-light" style="font-family: Montserrat;font-size: 14px;">
                                <tr>
                                    <th class="border rounded border-white" style="width: 600px;background-color: #DFF4F0;">Lista del SAT a Consultar</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr style="font-family: Montserrat;font-size: 14px;">
                                    <td>
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="formCheck-1">
                                            <label class="custom-control-label" for="formCheck-1">Lista SAT 69B: Facturas falsas EDOS/EFOS</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="font-family: Montserrat;font-size: 14px;">
                                    <td>
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="formCheck-2">
                                            <label class="custom-control-label" for="formCheck-2">Lista SAT: Contribuyentes incumplidos: No localizados, adeudados, otros</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="font-family: Montserrat;font-size: 14px;">
                                    <td>
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="formCheck-3" disabled="">
                                            <label class="custom-control-label" for="formCheck-3">Lista SAT: Contribuyentes son sentencias / delitos fiscales</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="font-family: Montserrat;font-size: 14px;">
                                    <td>
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="formCheck-4" disabled="">
                                            <label class="custom-control-label" for="formCheck-4">Lista SAT: Otros</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>