<div class="login-clean" style="background-color: #fff;padding-top: 40px;padding-bottom: 40px;">
    <form style="width: 1000px;max-width: 1000px;padding: 20px;height: none;font-family: Antic, sans-serif;">
        <div class="form-group">
            <div class="container"><label class="text-center d-block" style="padding: 10px;background-color: #C3E5E7;"><strong class="text-dark" style="font-family: Montserrat, sans-serif;font-size: 16px;">ALTA DE EMPRESA</strong></label>
                <div class="table-responsive border-white"
                    style="font-size: 14px;margin-left: 10px;">
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr class="text-left border-white">
                                <td class="text-center border-white"><label class="d-inline-block">Clave Cliente</label><input class="border rounded form-control d-inline-block" type="text" style="width: 300px;margin-right: 10px;margin-left: 10px;font-size: 14px;" name="clave_clientes"
                                        placeholder="Clave Cliente"></td>
                                <td class="text-right border-white"><button class="btn btn-info" type="button" style="margin-right: 40px;width: 130px;">Guardar</button></td>
                            </tr>
                            <tr class="text-left border-white">
                                <td class="text-center border-white"><label class="d-inline-block">RFC&nbsp;</label><input class="border rounded form-control d-inline-block" type="text" style="width: 300px;margin-right: 10px;margin-left: 60px;font-size: 14px;" name="rfc" placeholder="RFC"></td>
                                <td
                                    class="text-left border-white"><label class="d-inline-block">Usuario</label><input class="border rounded form-control d-inline-block" type="text" style="width: 300px;margin-right: 10px;margin-left: 60px;font-size: 14px;" name="usuario" placeholder="Usuario"></td>
                            </tr>
                            <tr class="text-left border-white">
                                <td class="text-center border-white"><label class="d-inline-block">Razón Social</label><input class="border rounded form-control d-inline-block" type="text" style="width: 300px;margin-right: 10px;margin-left: 10px;font-size: 14px;" name="razon_social"
                                        placeholder="Razón Social"></td>
                                <td class="text-left border-white"><label class="d-inline-block">Password</label><input class="border rounded form-control d-inline-block" type="password" style="width: 300px;margin-left: 50px;font-size: 14px;" name="password" placeholder="Password"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>